# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1822]:
import pandas as pd
import numpy as np
url= " https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url2 ="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
file1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
file2=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")
file = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [1823]:
def rename_columns(df):
    """Rename DataFrame columns to specified names."""
    df.columns = [
        'customer', 'state', 'gender', 'education', 'customer_lifetime_value',
        'income', 'monthly_premium_auto', 'number_of_open_complaints',
        'policy_type', 'vehicle_class', 'total_claim_amount'
    ]
    return df
file1 = rename_columns(file1)

print(file1.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [1824]:
file1["gender"].unique()

array(['F', 'M', nan, 'female', 'Male'], dtype=object)

In [1828]:
file1["gender"].unique()
#clean_values
def replace_gender(df):
    """Replace gender values with standardized values."""
    df["gender"] = df["gender"].replace({
        'Femal': 'F', 
        'Male': 'M', 
        'female': 'F'
    })
    return df
file1=replace_gender(file1)

In [1830]:
file1["gender"].unique()

array(['F', 'M', nan], dtype=object)

In [1832]:
file1["state"].unique()

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington', 'AZ'],
      dtype=object)

In [1834]:
def replace_state(df):
    """Replace state abbreviations with full names."""
    df["state"] = df["state"].replace({'Cali': 'California', 'AZ': 'Arizona', 'WA': 'Washington'})
    return df
file1=replace_state(file1)

In [1836]:
file1["state"].unique()

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington'],
      dtype=object)

In [1838]:
def replace_education(df):
    """Standardize education values."""
    df["education"] = df["education"].replace({'Bachelors': 'Bachelor'})
    return df
file1=replace_education(file1)

In [1840]:
file1["education"].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'High School or Below'],
      dtype=object)

In [1842]:
def strip_percentage(df):
    """Strip the percentage sign from the customer lifetime value column."""
    df["customer_lifetime_value"] = df["customer_lifetime_value"].str.strip('%')
    df["customer_lifetime_value"]=pd.to_numeric(df["customer_lifetime_value"])
    return df
file1=strip_percentage(file1)

In [1844]:
def replace_vehicle_class(df):
    """Standardize vehicle class values."""
    df["vehicle_class"] = df["vehicle_class"].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
    return df
file1=replace_vehicle_class(file1)

In [1846]:
# clean_missing_values
def clean_dataframe(df):
    df_cleaned = df.dropna()

    return df_cleaned
file1= clean_dataframe(file1)

In [1848]:
def clean_duplicates(df):
    df_clean_duplicate=df.drop_duplicates(keep="first")

    df_clean_duplicate.reset_index(drop=True, inplace=True)
    return df_clean_duplicate
file1= clean_duplicates(file1)

In [1850]:
#open complains
def process_open_complaints(df):
    """Extract and convert the second part of the number_of_open_complaints."""
    
    df["number_of_open_complaints"] = df["number_of_open_complaints"].astype(str)

    df["number_of_open_complaints"] = df["number_of_open_complaints"].str.split('/').str[1]
    
    df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"], errors='coerce')
    
    return df

file1 = process_open_complaints(file1)

In [1852]:
###################file 2########

def rename_columns(df):
    """Rename DataFrame columns to specified names."""
    df.columns = [
        'customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'
    ]
    return df
file2 = rename_columns(file2)

print(file2.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [1854]:

#clean_values
def replace_gender(df):
    """Replace gender values with standardized values."""
    df["gender"] = df["gender"].replace({
        'female':'F',
        'Male':'M'
    })
    return df
file2=replace_gender(file2)

In [1856]:
def replace_state(df):
    """Replace state abbreviations with full names."""
    df["state"] = df["state"].replace({'AZ': 'Arizona'})
    return df
file2=replace_state(file2)

In [1858]:
file2["state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

In [1860]:
def replace_education(df):
    """Standardize education values."""
    df["education"] = df["education"].replace({'Bachelors': 'Bachelor'})
    return df
file2=replace_education(file2)

In [1862]:
file2["education"].unique()

array(['High School or Below', 'Master', 'Bachelor', 'College', 'Doctor'],
      dtype=object)

In [1864]:

def strip_percentage(df):
    """Strip percentage sign from 'customer_lifetime_value' column and convert to numeric."""
    
    # Convert the series to string first
    df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(str)
    
    # Replace 'nan' with np.nan without using inplace
    df["customer_lifetime_value"] = df["customer_lifetime_value"].replace('nan', np.nan)
    
    # Strip percentage sign
    df["customer_lifetime_value"] = df["customer_lifetime_value"].str.strip('%')
    
    # Convert to numeric, coercing errors
    #df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"], errors='coerce')
    
    return df
file2 = strip_percentage(file2)

def clean_dataframe(df):
    df_cleaned = df.dropna(subset=['number_of_open_complaints'])
    return df_cleaned
file2= clean_dataframe(file2) 

def replace_vehicle_class(df):
    """Standardize vehicle class values."""
    df["vehicle_class"] = df["vehicle_class"].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
    return df
file2=replace_vehicle_class(file2)

def clean_duplicates(df):
    df_clean_duplicate=df.drop_duplicates(keep="first")

    df_clean_duplicate.reset_index(drop=True, inplace=True)
    return df_clean_duplicate
file2= clean_duplicates(file2)

def process_open_complaints(df):

    
 #   """Extract and convert the second part of the number_of_open_complaints."""
    
 #   df["number_of_open_complaints"] = df["number_of_open_complaints"].astype(str)

  #  df["number_of_open_complaints"] = df["number_of_open_complaints"].str.split('/').str[1]
    
   df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"], errors='coerce')
    
   return df

In [1866]:
file1["number_of_open_complaints"].unique()

array([0, 1, 3, 5, 2, 4])

In [1868]:
#file
file.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [1870]:
def rename_columns(df):
    """Rename DataFrame columns to specified names."""
    df.columns = [
        'customer', 'state', 'gender', 'education', 'customer_lifetime_value',
        'income', 'monthly_premium_auto', 'number_of_open_complaints',
        'policy_type', 'vehicle_class', 'total_claim_amount'
    ]
    return df
file = rename_columns(file)

print(file.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [1872]:
file["gender"]= file["gender"].replace({ 'Femal': 'F', 'Male': 'M', 'female': 'F'})

In [1874]:
file["state"]= file["state"].replace({'Cali': 'California', 'AZ':'Arizona', 'WA': 'Washington'})

In [1876]:
file["education"]=file["education"].replace({'Bachelors':'Bachelor'})

In [1878]:
def strip_percentage(df):
    """Strip percentage sign from 'customer_lifetime_value' column and convert to numeric."""
    
    # Convert to string to work with .str accessor
    df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(str)
    
    # Remove percentage sign
    df["customer_lifetime_value"] = df["customer_lifetime_value"].str.strip('%')
    
    # Convert to numeric and coerce errors
    df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"], errors='coerce')
    
    return df

# Apply the function
file = strip_percentage(file)

In [1880]:
file["vehicle_class"]=file["vehicle_class"].replace({'Sports Car':'Luxury', 'Luxury SUV':'Luxury' , 'Luxury Car': 'Luxury'})

In [1882]:

def strip_percentage(df):
    """Strip percentage sign from 'customer_lifetime_value' column and convert to numeric."""
    
    # Convert the series to string first
    df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(str)
    
    # Replace 'nan' with np.nan without using inplace
    df["customer_lifetime_value"] = df["customer_lifetime_value"].replace('nan', np.nan)
    
    # Strip percentage sign
    df["customer_lifetime_value"] = df["customer_lifetime_value"].str.strip('%')
    
    # Convert to numeric, coercing errors
    df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"], errors='coerce')
    
    return df

# Apply the function
file = strip_percentage(file)

def replace_vehicle_class(df):
    """Standardize vehicle class values."""
    df["vehicle_class"] = df["vehicle_class"].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
    return df
file=replace_vehicle_class(file)

def clean_duplicates(df):
    df_clean_duplicate=df.drop_duplicates(keep="first")

    df_clean_duplicate.reset_index(drop=True, inplace=True)
    return df_clean_duplicate
file= clean_duplicates(file)

def process_open_complaints(df):
    """Extract and convert the second part of the number_of_open_complaints."""
    
    df["number_of_open_complaints"] = df["number_of_open_complaints"].astype(str)

    df["number_of_open_complaints"] = df["number_of_open_complaints"].str.split('/').str[1]
    
    df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"], errors='coerce')
    
    return df

file = process_open_complaints(file)

In [1884]:
file.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [1886]:
file1.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [1888]:
file2.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [1890]:
colums_standard=['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']

In [1892]:
df_files=[file,file1,file2]
df_files=[df.reindex(columns=colums_standard)for f in df_files]

In [1894]:
combined_df= pd.concat(df_files)
combined_df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,GS98873,Arizona,F,Bachelor,323912.47,16061,88.0,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11,79487,114.0,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02,54230,112.0,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30,71210,214.0,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21,94903,94.0,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
983,HV85198,Arizona,M,Master,847141.75,63513,70.0,1/0/00,185.667213,Personal Auto,Four-Door Car
984,BS91566,Arizona,F,College,543121.91,58161,68.0,1/0/00,140.747286,Corporate Auto,Four-Door Car
985,IL40123,Nevada,F,College,568964.41,83640,70.0,1/0/00,471.050488,Corporate Auto,Two-Door Car
986,MY32149,California,F,Master,368672.38,0,96.0,1/0/00,28.460568,Personal Auto,Two-Door Car
987,SA91515,California,M,Bachelor,399258.39,0,111.0,1/0/00,700.349052,Personal Auto,SUV

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [1898]:
# Your code goes here
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df_marketing = pd.read_csv(url)

In [1899]:
df_marketing.info()
df_marketing.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
count,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000
mean,5454.500000,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330,1.466728
std,3149.590053,6885.081434,30359.195670,34.442532,9.783520,27.940675,0.885589,2.399359,292.180556,0.498915
min,0.000000,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007,1.000000
25%,2727.250000,4014.453113,0.000000,68.000000,7.000000,24.000000,0.000000,1.000000,271.082527,1.000000
50%,5454.500000,5771.147235,33813.500000,83.000000,15.000000,48.000000,0.000000,2.000000,382.564630,1.000000
75%,8181.750000,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.384256,4.000000,547.200000,2.000000
max,10909.000000,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678,2.000000

In [1900]:
df_marketing.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [1906]:
df_marketing.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [1908]:
df_marketing.columns = ['number', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month']
df_marketing.columns

Index(['number', 'customer', 'state', 'customer_lifetime_value', 'response',
       'coverage', 'education', 'effective_to_date', 'employmentstatus',
       'gender', 'income', 'location_code', 'marital_status',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [1910]:
df_marketing["sales_channel"].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [1912]:
df_marketing["number_of_policies"].nunique()

9

In [1914]:
#total revenue
df_marketing['monthly_premium_auto'] = df_marketing['monthly_premium_auto'].astype(float)
df_marketing["number_of_policies"] = df_marketing["number_of_policies"].astype(int)

df_marketing['estimated_revenue'] = df_marketing['monthly_premium_auto'] * df_marketing['number_of_policies']

In [1916]:
df_marketing['estimated_revenue']

0         549.0
1          64.0
2         200.0
3         194.0
4         819.0
          ...
10905    1771.0
10906     390.0
10907     402.0
10908     948.0
10909     303.0
Name: estimated_revenue, Length: 10910, dtype: float64

In [1918]:
#pivot table
sales_channel_revenue = df_marketing.pivot_table(
    index='sales_channel',
    values='estimated_revenue',
    aggfunc='sum'
).round(2)
sales_channel_revenue

               estimated_revenue
sales_channel
Agent                  1130616.0
Branch                  818951.0
Call Center             589902.0
Web                     471197.0

In [1920]:
#top channel is Agent sales chanel, web is at the last place

In [1922]:
#pivot table that shows the average customer lifetime value per gender and education level.

In [1924]:
tabel= df_marketing.pivot_table(
    index="gender",
    columns="education",
    values="customer_lifetime_value",
    aggfunc="mean"
).round(2)

tabel

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

In [1926]:
#M and F are close to avrege in all education level, except on Higher school or below where F have higher average CLV and M, M have higher CLV in Collaege education

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [1930]:
# Your code goes here
summary = df_marketing.groupby(['month', 'policy_type']).size().reset_index(name='number_of_complaints')
summary

   month     policy_type  number_of_complaints
0      1  Corporate Auto                  1252
1      1   Personal Auto                  4329
2      1    Special Auto                   237
3      2  Corporate Auto                  1089
4      2   Personal Auto                  3799
5      2    Special Auto                   204